<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/task_manager.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="#">Company name</a>
            <a class="nav-link" th:text="${project.name}"></a>
            <a class="nav-link" href="/logout">logout</a>
        </div>
    </nav>
</header>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Deleted</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Task Name</th>
                </tr>
                </thead>
                <tbody id="deletedColumn" data-status="deleted">
                <tr th:each="task: ${tasks}" th:if="${task.status == 'deleted'}">
                    <td>
                        <span th:text="${task.name}" class ="deleted-task"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2>Todo</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="todoColumn" data-status="todo">
                <tr th:each="task: ${tasks}" th:if="${task.status == 'todo'}">
                    <td>
                        <span th:text="${task.name}"></span>
                        <select class="form-select" th:attr="data-task-id=${task.id}" onchange="updateTaskStatus(this)">
                            <option value="todo" selected>Todo</option>
                            <option value="inprogress">In Progress</option>
                            <option value="done">Done</option>
                        </select>
                    </td>
                    <td>
                        <button class="edit-icon" th:attr="data-task-id=${task.id}, data-project-id=${project.id}, data-task-name=${task.name}" onclick="showEditForm(this)">&#9998;</button>
                        <span class="delete-icon" th:attr="data-task-id=${task.id}" onclick="deleteTask(this)">&#128465;</span>
                    </td>
                </tr>
                <tr>
                    <td><img id="plus_logo" th:src="@{/images/plus_logo.png}" alt="plus logo"></td>
                </tr>
                </tbody>
            </table>
            <div id="taskForm" class="container mt-4">
                <form th:action="@{/addTask/{projectId}(projectId=${project.id})}" method="post">
                    <input type="text" name="taskName" placeholder="Task Name">
                    <button type="submit">Add Task</button>
                </form>
            </div>
        </div>
        <div class="col">
            <h2>In Progress</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="inProgressColumn" data-status="inprogress">
                <tr th:each="task: ${tasks}" th:if="${task.status == 'inprogress'}">
                    <td>
                        <span th:text="${task.name}"></span>
                        <select class="form-select" th:attr="data-task-id=${task.id}" onchange="updateTaskStatus(this)">
                            <option value="todo">Todo</option>
                            <option value="inprogress" selected>In Progress</option>
                            <option value="done">Done</option>
                        </select>
                    </td>
                    <td>
                        <button class="edit-icon" th:attr="data-task-id=${task.id}, data-project-id=${project.id}, data-task-name=${task.name}" onclick="showEditForm(this)">&#9998;</button>
                        <span class="delete-icon" th:attr="data-task-id=${task.id}" onclick="deleteTask(this)">&#128465;</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2>Done</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="doneColumn" data-status="done">
                <tr th:each="task: ${tasks}" th:if="${task.status == 'done'}">
                    <td>
                        <span th:text="${task.name}"></span>
                        <select class="form-select" th:attr="data-task-id=${task.id}" onchange="updateTaskStatus(this)">
                            <option value="todo">Todo</option>
                            <option value="inprogress">In Progress</option>
                            <option value="done" selected>Done</option>
                        </select>
                    </td>
                    <td>
                        <button class="edit-icon" th:attr="data-task-id=${task.id}, data-project-id=${project.id}, data-task-name=${task.name}" onclick="showEditForm(this)">&#9998;</button>
                        <span class="delete-icon" th:attr="data-task-id=${task.id}" onclick="deleteTask(this)">&#128465;</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="editForm" class="container mt-4" style="display: none;">
            <form action="/editTask/{taskId}" method="post">
                <input type="hidden" name="taskId">
                <input type="text" name="projectId" th:value="${project.id}">
                <input type="text" name="newTaskName" placeholder="New Task Name">
                <button type="submit">Update Task</button>
                <button type="button" id="cancelEditButton">Cancel</button>
            </form>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>
    function deleteTask(deleteIcon) {
        const taskId = deleteIcon.getAttribute("data-task-id");

        const xhr = new XMLHttpRequest();
        xhr.open("POST", `/deleteTask/${taskId}`, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    location.reload();
                } else {
                    console.error("An error occurred:", xhr.statusText);
                }
            }
        };

        xhr.send();
    }


    function updateTaskStatus(selectElement) {
        const taskId = selectElement.getAttribute("data-task-id");
        const newStatus = selectElement.value;

        const xhr = new XMLHttpRequest();
        xhr.open("POST", `/updateTaskStatus/${taskId}`, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    location.reload();
                } else {
                    console.error("An error occurred:", xhr.statusText);
                }
            }
        };

        xhr.send(`status=${newStatus}`);
    }

    function showEditForm(editButton) {
        const taskId = editButton.getAttribute("data-task-id");
        const taskName = editButton.getAttribute("data-task-name"); // Get the task name from the attribute
        const editForm = document.getElementById("editForm");

        editForm.style.display = "block";
        const form = editForm.querySelector("form");
        form.action = `/editTask/${taskId}`;
        form.querySelector("[name=taskId]").value = taskId;
        form.querySelector("[name=newTaskName]").value = taskName; // Set the task name in the input field
    }

    document.addEventListener("DOMContentLoaded", function() {
        const plusLogo = document.getElementById("plus_logo");
        const taskForm = document.getElementById("taskForm");
        const editForm = document.getElementById("editForm");
        const cancelEditButton = document.getElementById("cancelEditButton");

        cancelEditButton.addEventListener("click", function() {
            editForm.style.display = "none";
        });


        plusLogo.addEventListener("click", function() {
            taskForm.style.display = "block";
        });
    });
</script>
</body>
</html>
